@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.nav {
  max-width: 800px;
  margin: 0px auto;
}
.brand-logo {
  font-family: "Grand Hotel", cursive;
}
.cover-container {
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.cover-container .cover-image {
  background-image: url('./assets/images/background2.jpg');
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.cover-container .cover-box {
  position: absolute;
  display: flex;
  height: auto;
  left: 50%;
  right: 50%;
  top: 50%;
  flex-direction: column;
  z-index: 10002;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 30px;
  background-color: rgba(0,0,0,0.5);
  transform: translate(-50%, -50%);
  color: white;
  width: 400px;
}

.cover-container .cover-box .cover-logo {
  display: block;
  max-width: 200px;
  max-height: 353px;
  width: auto;
  height: auto;
}
.cover-container .cover-box .cover-title {
	text-decoration: none;
  font-family: titleFont;
	color: white;
	font-weight: bold;
	font-size: 45px;
}

.cover-form input {
  align-self: flex-start;
  margin-bottom: 5px;
  font-size: 18px;
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
  color: white;
}

.cover-form-submit button {
  background-color: green;
  color: white;
  padding: 10px;
  width: 80px;
}
.cover-signup-title {
  font-size: 20px;
}
.cover-form-submit a {
  color: white;
  align-self: center;
}
.cover-form-submit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;
  width: 100%;
}
.cover-form input[type="text"]:focus {
  border-bottom: 1px solid #42a5f5 !important;
  box-shadow: 0 1px 0 0 #42a5f5 !important;
}

.cover-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cover-links a {
  color: white;
  margin: 5px 0px;
}
